body
{
	margin:0px;
	padding:0px;
	background-color:#254975;
}

header
{
	width: 100%;
	display : flex;
	background-color: #4190c2;
}

.TitrePage
{
	font-size:3.0em;
	font-family: Georgia ;
	position: relative;
	color: white;
	margin: auto;
}

footer
{
	width: 100%;
	min-height: 100px;
	background-color: #8badc3 ;
	position:absolute;
	margin:0px;
	padding:0px;
	display: flex;
	flex-wrap: wrap;
}
footer ul
{
	display: flex;
	flex-direction:column;
	color: white;
}

footer li a
{
	text-align: center;
	color: white;
	font-size: 1.3em;
	text-decoration: none;
}

footer h2
{
	font-family: Georgia;
}

footer p
{
	margin:0px;
	padding:1px;
	font-size:1.3em;
}
#logo
{
	width: 10%;
	border-right: 2px black solid;
}

nav ul
{
	padding:0px;
	margin: 0px;
	list-style-type:none;
	display: flex;
	justify-content: space-evently;
}

nav li
{
	display: inline-block;
	width:20%;
}

nav li a
{
	display: block;
	color: white;
	padding:15px 0px;
	margin:0px;
	text-align: center;
	font-size:25px;
	text-decoration: none;
}

nav
{ 
	width:100%;
	background-color:#9dabb4;
	
}

nav li:hover
{ 
	background-color:#7b83ff ;
}

div
{

	background-color: white;
	width: 80%;
	height:1000px;
	margin: auto;
	display: flex;
	flex-direction :column;
}

.Historique
{
	height: 1900px;
}

.Lesmodèles
{
	display: flex;
}

.modèle
{
	margin-top:20px;
	margin: auto;
	width:280px;
	height:200px;
}

.automate
{
	margin: auto;
	margin-top: 15px;
	margin-bottom: 25px;
	width: 260px;
	text-align: center;
}

.illustration
{
	width: 90%;
	margin-top:20px;
}

.Liens
{
	width:20%;
}

.Nom
{
	width: 100%;
	color: white;
	text-align: center;
	background-color: black;
}

section
{
	margin: auto;
	margin-bottom:0px;
	margin-top:5px;
	padding: 0px 15px;
	width: 95%;
}

.Historique section
{
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
}

.Histoire
{
	display:flex; 
	flex-wrap: nowrap;
}

h3
{
	font-weight: bold;
	text-decoration: underline;
	color: black;
	font-size: 2.0em;
}

section p
{
	margin: 2px 20px;
	font-size: 1.3em;
}

strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
	text-decoration: underline;
}

footer li:hover 
{
	text-decoration: underline;
}

/* ROBOTS MILITAIRES*/ 
.tableau-style
{
	border-collapse: collapse;
	min-width: 400px;
	width: auto;
	box-shadow: 0 5px 50px rgba(0,0,0,0.15);
	cursor: pointer;
	margin: 100px auto;
	border: 2px solid midnightblue;
	margin-top: 20px;
}
thead tr
{
	background-color: midnightblue;
	color: #fff;
	text-align: left;
}
th, td
{
	padding: 15px 20px;
}
tbody tr, td ,th 
{
	border: 1px solid #ddd;
}

tbody tr:nth-child(even) 
{
	background-color: #f3f3f3;
}

.contenu
{ 
	position: right;
	width: 800px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 15px 50px rgba(0,0,0,0.2); 
	display: flex;
	flex-direction: row;
 }
.Militaires img
 {
 	height:170px;
 	display: block; 
}
.contain
{ 
	position: right;
	width: 800px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 15px 50px rgba(0,0,0,0.2); 
	display: flex;
	flex-direction: row;
}
.Militaires
{
	height: 2000px;
}

iframe
{
	width:560px;
	height:315px;
	margin: auto;
}