body
{
	margin:0px;
	padding:0px;
	background-color:#53ace8;
}

header
{
	width: 100%;
	display : flex;
	background-color: #04CDCE;
}

.TitrePage
{
	font-size:3.0em;
	font-family: Georgia ;
	position: relative;
	top: 10px;
	left: 2%;
	color: white;
	margin: 5px;
}

footer
{
	width: 100%;
	min-height: 150px;
	background-color: #797b8e ;
	position:absolute;
	margin:0px;
	padding:0px;
	display: flex;
	flex-wrap: wrap;
}
footer ul
{
	display: flex;
	flex-direction:column;
	color: white;
}

footer li a
{
	text-align: center;
	color: white;
	font-size: 1.3em;
	text-decoration: none;
}

footer h2
{
	font-family: Georgia;
}

footer p
{
	margin:0px;
	padding:0px;
	font-size:1.3em;
}
#logo
{
	width: 10%;
	border-right: 2px black solid;
}

nav ul
{
	padding:0px;
	margin: 0px;
	list-style-type:none;
	display: flex;
	justify-content: space-evently;
}

nav li
{
	display: inline-block;
	width:20%;
}

nav li a
{
	display: block;
	color: white;
	padding:15px 0px;
	margin:0px;
	text-align: center;
	font-size:25px;
	text-decoration: none;
}

nav
{ 
	width:100%;
	background-color:#716B69;
	
}

nav li:hover
{ 
	background-color:#7b83ff ;
}

div
{

	background-color: white;
	width: 80%;
	height:1000px;
	margin: auto;
	display: flex;
	flex-direction :column;
}

.Historique
{
	
	height: 1900px;
	
	
}

.Liens
{
	width:20%;
}

.Nom
{
	width: 100%;
	color: white;
	text-align: center;
	background-color: black;
}

section
{
	padding: 0px 15px;
	width: 95%;
	display: flex;
	flex-direction : column;
	flex-wrap: nowrap;
	margin: auto;
	margin-bottom:0px;
	margin-top:5px;
}

h3
{
	font-weight: bold;
	text-decoration: underline;
	color: black;
	font-size: 2.0em;
}

section p
{
	margin: 2px 20px;
	font-size: 1.3em;
}

aside
{
	
}

strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
	text-decoration: underline;
}

footer li:hover 
{
	text-decoration: underline;
}